<p id="notice"><%= notice %></p>
<div id="notices-channel"></div>

<section>
  <%= form_for(@note) do |f| %>
    <% if @note.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

        <ul>
          <% @note.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="actions">
      <%= f.label "Create a new note" %>
      <%= f.text_field :description %>
      <button id="new_note_button">Create</button>
    </div>
  <% end %>
</section>

<hr />

<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="notes">
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.description %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="main">
  <section id="top-row">
    <div id="red">
      <p>Im red</p>
    </div>
    <div id="orange">
      <p>Im orange</p>
    </div>
    <div id="yellow">
      <p>Im yellow</p>
    </div>
  </section>

  <section id="middle-row">
  </section>

  <section id="bottom-row">
  </section>
</div>
